<button class="form__button form__button--delete" title="Delete">
    <img
        src="/src/images/trash.svg"
        alt="trash icon"
        class="form__button-icon"
    />
</button>
<button class="form__button form__button--cancel" id="cancel">Cancel</button>
<button class="form__button form__button--save">Save changes</button>
