<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Peliculitas</title>
        <link rel="stylesheet" href="/src/css/bundle.min.css" />
    </head>
    <script type="module" src="/src/js/bundle.min.js"></script>

    <body>
        <main class="main">
            <h1 class="heading text-center"><%= title %></h1>

            <%- include(content) %>
        </main>
    </body>
</html>
