<div class="movies"></div>
<div class="pagination">
    <a class="pagination__prev">
        <img src="/src/images/chevron-left.svg" alt="Chevron left" />
    </a>
    <div class="pagination__numbers"></div>
    <a class="pagination__next">
        <img src="/src/images/chevron-left.svg" alt="Chevron right" />
    </a>
</div>
