.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 3rem;
}
.movie {
    background: whitesmoke;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-basis: 28rem;
    overflow: hidden;
    box-shadow: 2px 2px 10px #282828b2;
    transition: 0.4s;
}

.movie:hover {
    scale: 1.01;
    box-shadow: 2px 2px 10px #282828f8;
}
.movie__poster-container {
    background: #ccc;
    order: -1;
    position: relative;
    aspect-ratio: 2/3; /* <- mantiene el aspect ratio, sino no se vería la imagen con el p absolute */
}
.movie__poster {
    position: absolute;
    inset: 0;
    object-fit: cover;
}
.movie__content {
    padding: 1.2rem;
}
.movie__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
.movie__heading {
    font-size: 2.2rem;
    /* Mostrar ... cuando el texto es muy largo */
    display: -webkit-box; /* <- webkit-box para crear la caja */
    overflow: hidden; /* <- oculta lo que sobra */
    -webkit-box-orient: vertical; /* <- en que orientacion queremos cortar */
    -webkit-line-clamp: 1; /* dejamos una sola linea */
}
.movie__year {
    background: #ccc;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: bolder;
    font-size: 1rem;
}
.movie__genres {
    display: flex;
    gap: 1rem;
}
.movie__genre {
    border: 1px solid #ccc;
    padding: 0.7rem;
    border-radius: 1rem;
    font-weight: bold;
}
.movie__actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}
.movie__action {
    border: none;
    padding: 0.5rem;
    font-weight: bold;
    color: #fee;
    border-radius: 1rem;
    transition: 0.4s;
    display: flex;
    align-items: center;
}
.movie__action:hover {
    cursor: pointer;
    scale: 1.03;
}
.movie__action--delete {
    background: #f33;
}
.movie__action--edit {
    background: #ccc;
}
.movie__action--delete:hover {
    background: #a33;
}
.movie__action--edit:hover {
    background: #888;
}
.movie__action-icon {
    width: 2.2rem;
}
/* @media (prefers-color-scheme: dark) {
    .movie {
        background: #282828f8;
    }
    .movie__year {
        background: #c1c1c1;
    }
} */
