.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 8rem;
    padding-bottom: 5rem;
}
.pagination__numbers {
    display: flex;
    gap: 1rem;
}
.pagination__prev,
.pagination__next {
    font-size: 4rem;
}
.pagination__next {
    rotate: 180deg;
}
.pagination a,
.pagination span {
    text-decoration: none;
    font-weight: bolder;
    font-family: cursive;
    color: #242424;
}
.pagination span {
    color: #33a;
}
.pagination__page,
.pagination__current-page {
    font-size: 1.7rem;
}
.pagination__current-page:hover {
    cursor: default;
}
.pagination__page {
    transition: 0.4s;
}
.pagination__page:hover {
    color: #575757;
    scale: 1.05;
}
